/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 15px;  /* da valutare */
}
/* /Reset */
/* ---------------MIX------------- */
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
/* ---------------/MIX------------- */
body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}
.box{
  margin: auto;
  width: 90%;
}
/* INTESTAZIONE */
header{
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  padding: 5px 0;
}
.logo{
  max-width: 150px;
  display: block;
  margin-bottom: 30px;
}
/* navbar */
nav{
  width: 100%;
  text-align: left;
}
nav li{
  display: inline-block;
  margin-right: 10px;
}
nav a{
  text-decoration: none;
  color: #858585;
}
/* /navbar */
/* /INTESTAZIONE */
/* BANNER */
main{
  margin-bottom: 30px;
  width: 100%;
  height: 560px;
  position: relative;
}
main img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.testo-banner{
  position: absolute;
  left: 30px;
  bottom: 50px;
  z-index: 10;
  color: white;
}
span p:nth-of-type(1){
  font-size: 35px;
}
span p:nth-of-type(2){
  font-size: 13px;
}
/* /BANNER */
/* -------------------CORPO DELLA PAGINA------------------- */
/* CLEARFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /CLEARFIX */
section{
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
}
.int-top{
  width: 100%;
  font-size: 30px;
  margin-bottom: 40px;
}
.int-top h4{
  font-size: 18px;
  color: #929292;
}
.container{
  width: 100%;
  color: #929292;
}
.col-sx, .col-dx {
  float: left;
  width: calc(20% - 10px);
  display: inline-block;
}
.col-sx img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  position: relative;
}
.col-dx img{
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.col-cen {
  float: left;
  width:calc(60% - 20px);
  margin: 0 20px;
  display: inline-block;
}
.col-cen img{
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.container h6{
  font-size: 16px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}
.col-img{
  position: relative;
}
/* -------------------/CORPO DELLA PAGINA------------------- */
/* PIE DI PAGINA */
footer{
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
}
footer h5{
  text-align: center;
  color: black;
}
footer span{
  color: red;
}
/* /PIE DI PAGINA */
