/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  background-color: white;
}
.box{
  margin: auto;
  padding: 10px;
  width: 90%;
  height:1000px;
}
/* INTESTAZIONE */
header{
  background-color: #e266d7;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height:calc(14% - 10px); /*da togliere successivamente*/
}
/* /INTESTAZIONE */
/* BANNER */
main{
  background-color: #d4cd66;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height:calc(35% - 10px); /*da togliere successivamente*/
}
/* /BANNER */
/* -------------------CORPO DELLA PAGINA------------------- */
/* CLEARFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /CLEARFIX */
section{
  background-color: #42b2f5;
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  height:calc(45% - 5px); /*da togliere successivamente*/
}
.int-top{
  background-color: lightblue;
  width: 100%;
  height: 10%; /*da togliere successivamente*/
}
.container{
  width: 100%;
  height: 90%; /*da togliere successivamente*/
}
.col-sx, .col-dx {
  float: left;
  background-color: lightblue;
  height:calc(100% - 20px); /*da togliere successivamente*/
  width:calc(15% - 20px);
  margin: 10px 10px 10px 10px;
}
.col-cen {
  float: left;
  background-color: lightblue;
  height:calc(100% - 20px); /*da togliere successivamente*/
  width:calc(70% - 20px);
  margin: 10px 10px 10px 10px;
}
/* -------------------/CORPO DELLA PAGINA------------------- */
/* PIE DI PAGINA */
footer{
  background-color: #a313de;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height:calc(8% - 20px); /*da togliere successivamente*/
}
/* /PIE DI PAGINA */
